extends layout
block body
  h1 RRule

  pre= rrule
  
  list = rrule.list()
  if list.length
    ul.list-group
      cache = false
      diff = 0
      each date, i in list
        li.list-group-item= DateFormat(date, "fullDate")
          .badge= i+1
          if cache
            diff = cache.getDaysBetween(date)
            .badge #{diff} days later
        - cache = date
